@page "/users/edit/{Id}"
@using Porcupine.Robert.Mrobo.Portal.IAM.Groups
@using Porcupine.Robert.Mrobo.Portal.IAM.Groups.Models

@{
    var userName = string.IsNullOrEmpty(_createOrEditUserModel.Name) 
        ? string.Empty 
        : $": {_createOrEditUserModel.Name}";
}

<h3>Edit User @userName</h3>

<EditForm Model="@_createOrEditUserModel" OnValidSubmit="@OnSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <label for="username" class="form-label">User names</label>
    <InputText id="username" class="form-control" placeholder="Robert Mrobo" @bind-Value="_createOrEditUserModel.Name"/>

    <label for="profileImage" class="form-label">Profile image</label>
    <InputText id="profileImage" class="form-control" placeholder="https://porcupine.co.za/images/robertmrobo.jpg" @bind-Value="_createOrEditUserModel.ProfileImage"/>

    <hr class="my-3"/>
    <h3>Groups</h3>
    <p>Select groups to add user to</p>
    @foreach (var group in _selectableGroups ?? Enumerable.Empty<SelectableGroup>())
    {
        <div class="form-check">
            <InputCheckbox class="form-check-input" id="@group.Name" @bind-Value=group.Selected></InputCheckbox>
            <label for="@group.Name" class="form-check-label">@group.Name</label>
        </div>
    }
    
    <hr class="my-3"/>
    <div class="d-flex justify-content-end">
        <a href="/users" type="button" class="btn btn-secondary mx-2">Cancel</a>
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</EditForm>